@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

.main-Frequently {
  padding: 50px 0;
}

.inner-Frequently{
  margin: 50px 0;
}




.accordion {
  border-radius: 10px;
}

.accordion-item {
  border: none !important;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
  background: #fff;
  padding: 18px;
}

.accordion .accordion-item button[aria-expanded=true] {
  transition: all 0.5s ease-in-out;
  border: none;

}

.accordion button {
  position: relative;
  text-align: left;
  width: 100%;
  color: #078e8d;
  font-size: 1.15rem;
  font-weight: 400;
  border: none;
  background: none;
  align-items: center;
  display: flex;
  outline: none;
}


.accordion button:hover, .accordion button:focus {
  cursor: pointer;
  color:#58A399;
}

.accordion button:hover::after, .accordion button:focus::after {
  cursor: pointer;
  color:#58A399;
}

.accordion button .accordion-title {
  padding: 1em 1.5em 1em 0;
  font-size: 16px;
  color: #078e8d;
  font-weight: 600;
  

}

.accordion button .icon {
  display: inline-block;
  position: absolute;
  top: 18px;
  right: 0;
  width: 22px;
  height: 22px;
  border: 1px solid;
  border-radius: 22px;
}

.accordion button .icon::before {
  display: block;
  position: absolute;
  content: "";
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background: currentColor;
}

.accordion button .icon::after {
  display: block;
  position: absolute;
  content: "";
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  background: currentColor;
}

.accordion button[aria-expanded=true] {
  color: var(--color4);
}

.accordion button[aria-expanded=true] .icon::after {
  width: 0;
}

.accordion button[aria-expanded=true]+.accordion-content {
  opacity: 1;
  max-height: 100%;
  transition: all 0,5s ease-in-out;
  will-change: opacity, max-height;
}

.accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
}

.accordion .accordion-content p {
  font-size: 1rem;
  font-weight: 400;
  margin: 1em 0;
}
.accordion .accordion-content p a{
  color: #58A399!important;
  text-decoration: underline!important;
  font-weight: 600;
  padding-left: 4px;
}
.section-title h4{
  font-family: "Crimson Text", serif;
  font-weight: 600;
}
.section-title .bar {
  background:#c1e2e2;
  border-radius:30px;
  height:5px;
  margin:20px auto;
  position:relative;
  width:90px
}
.section-title .bar:before {
  animation-direction:alternate;
  animation-duration:3s;
  animation-iteration-count:infinite;
  animation-name:MOVE-BG;
  animation-timing-function:linear;
  background:#078e8d;
  border-radius:50%;
  content:"";
  height:10px;
  left:0;
  position:absolute;
  top:-2.7px;
  width:10px
}
@keyframes MOVE-BG {
  0% {
    -webkit-transform:translateX(0);
    transform:translateX(0)
  }
  to {
    -webkit-transform:translateX(88px);
    transform:translateX(88px)
  }
}
@media(max-width:640px){
  .section-title h4{
    font-size:16px;
    letter-spacing: 0.6px;
  }
}