.navbar-section {
    padding: 0 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: #f8fcfc;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.navbar-title a {
	color: #078e8d;
	letter-spacing: .6px;
	text-decoration: none;
	font-size: 24px;
}
.navbar-title {
    font-family: 'Poppins', sans-serif;
}
.navbar-sign {
    color: #54de54;
    font-family: Cambria, sans-serif;
    font-size: 40px;
    font-weight: bold;
}
.navbar-items {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    font-family: 'Rubik', sans-serif;
    margin-bottom: 0;
}
.navbar-items > li {
    list-style-type: none;
}
.navbar-links {
	text-decoration: none;
	color: black;
	font-size: 16px;
	letter-spacing: .8px;
}
.navbar-links:hover {
    color: #0d8a89;
}
.navbar-btn {
	padding: 7px 16px;
	color: white;
	border: 1px solid transparent;
	border-radius: 12px;
	outline: transparent;
	background-color: #078e8d;
	font-size: 18px;
	font-family: 'Rubik', sans-serif;
	letter-spacing: .8px;
	cursor: pointer;
	transition: all .4s ease;
}
.navbar-btn:hover {
    color: #0d8a89;
    background-color: white;
    border: 1px solid #0d8a89;
}
/* Hamburger Icon */
.mobile-nav {
    display: none;
}
.hamb-icon {
    width: 26px;
    height: 26px;
    cursor: pointer;
}
.hamb-icon:hover {
    color: #0d8a89;
}
/* Mobile Navbar */
.mobile-navbar {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -100%;
    background-color: white;
    z-index: 20;
    justify-content: center;
    align-items: center;
    transition: left .5s ease-in-out;
}
.mobile-navbar-close {
    position: absolute;
    top: 28px;
    right: 28px;
}
.mobile-navbar-close .hamb-icon:hover {
    color: rgb(255, 22, 22);
}
.open-nav {
    left: 0;
}
.mobile-navbar-links {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    font-size: 24px;
    gap: 24px;
    text-align: center;
    padding-left: 0;
    
}
.mobile-navbar-links li a {
    text-decoration: none;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    letter-spacing: .8px;
    transition: color .3s ease-in-out;
}
.mobile-navbar-links li a:hover {
    color: #0cc2ea;
}
.nav{
    position: relative;
    z-index: 1;
}
.nav.before .active-element{
    transform: rotateY(180deg);
}
.button-link{
    color: #fff!important;
}
/* Responsive */
@media screen and (max-width: 900px) {
    .navbar-btn, .navbar-items {
        display: none;
    }
     .navbar-items {
        display: none;
    }
    .mobile-nav {
        display: block;
    }
}

@media screen and (max-width: 479px) {
    .mobile-navbar  .navbar-btn{
        display: block;
    }
     .navbar-items {
        display: none;
    }
    .mobile-nav {
        display: block;
    }
}
